@media (max-width: 1200px){
    .storebtn{ left:15%;}
    .footer-col{padding: 0px 30px;}
}

@media (max-width: 768px)
{  
    .navbar li{display: none;}
    .navbar .imgbar{display: block;margin-right: 250px;}
    .navbar .bar{display: block;margin-left: 250px;}
    #main{padding: 50px;}

     /* Section1 start -giftvoucher */
   .gift{padding: 25px 50px;
    flex-wrap: wrap; }
   .col-40{width: 100%;}
    .col-60{width: 100%;}

    /* Section2 start bestcoffee  */
    .coffee{width: 100%;}
    .coffeetext{padding: 30px 20px;}

    /* Section3 start Menu  */
    .menurow{padding: 10px 50px; flex-direction:column;gap:10px}
    .menu p{ padding: 20px 30px;}
    
    /* Section4 start Store */
    .store{padding: 10px;}
    .store p{font-size: 18px;padding: 20px 50px;}
    .storerow{flex-direction:column;}
    .storerow .box{width: 70%;}
    .storebtn{padding: 10px 20px;top:110%;left: 30%;}
    .storetext h6{padding: 120px 30px 20px;}
    
    /* Section-5 start companyprofile */
    .row{flex-direction:column; padding: 50px 60px}
    .row h1{font-size: 40px; padding: 10px;}
    .row p{font-size: 18px;padding: 10px 10px;}
    .col-50{width: 100%;}
    .rowicons a i{font-size: 22px;padding-left: 10px;}

    /* Section-6 start Contactus  */

    /* Section-7 start Footer */
    .fcontainer{flex-wrap: wrap;}
    .frow{flex-direction:column;}
   
}
@media (max-width: 576px) 
{ 
    .navbar .imgbar{display: block;margin-right: 150px;}
    .navbar .bar{display: block;margin-left: 150px;}

    /* Section4 start Store */
   
    .storerow .box{width: 100%;}
    .storebtn{padding: 10px 20px;top:120%;left: 30%;}
    
}


