*{
    margin: 0;
    padding: 0;

}
body{
    background-color:#B5D8CC;
    text-align: center;
}

.container{
    /* height: 70vh; */
    background-color: aqua;  
    padding: 10px;
  
    justify-content: center;
    align-items: center;
    
}
.game{
    background-color: bisque;
    /* height: 60vmin; */
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.box{
    height: 100px;
    width: 30%;
    background-color: rgb(194, 156, 156);
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px 0.5;
    font-size: 35px;
    color: #e60a0a;
   
}
.reset{
    padding: 10px 30px;
    font-size: 20px;
    background-color: rgb(51, 44, 44);
    color: bisque;
    border-radius: 20px;
    border: none;
    

}
.p{
    font-size: 30px;
    padding: 20px ;
}